<div class="m-0 h-14 px-14  bg-gray-300 overflow-hidden flex flex-row justify-center ">
    <div class="flex flex-col justify-center align-middle">
        <span class="flex items-center bg-white m-0 p-0 h-9 py-1 w-3/4 border-2 border-gray-400 rounded-md">
            <i class="fas fa-search fas-1x px-2"></i>
            <input type="text"  class="bg-white py-1 w-96 border-none focus:outline-none" placeholder="Buscar">
            <i class="fas fa-times fas-1x px-2"></i>
        </span>
    </div>
    <div class="flex flex-col justify-center align-middle">
        <div class="flex items-center">
            <ui-switch></ui-switch>
            <label class=" m-2 text-sm text-gray-600">coincidir con las etiquetas</label>
        </div>
    </div>
</div>